html {
scroll-behavior: smooth;
}
body {
  background: linear-gradient(to bottom right, #EEEEEE, #1C658C);
  color: #40514E;
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #1C658C;
  font-family: 'Sacramento', cursive;
  font-size: 4.375rem;
  margin: 50px auto 0 auto;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

h2 {
  color: #D8D2CB;
  font-family: 'Noto Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);

}

h3 {
  font-size: 2rem;
  color: #D8D2CB;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);

}

p {
  font-size: 1.5rem;
  line-height: 2;
}

hr {
  border: dotted 6px;
  border-color: #D8D2CB;
  border-style: none none dotted;
  width: 10%;
  margin: 50px auto 50px auto;
}

/* Navigation Bar */

.nav-item {
  padding: 0 18px;
  text-align: right;
  margin: 5% 5% 5%
}

.nav-link {
  color: #1C658C;
  font-size: 1.2rem;
  text-decoration: none;
  margin: 10px 10px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.nav-link:hover, .nav-link:focus {
  color: #aaebab;
}

/* Title */

.mountain {
  width: 100%;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  top: 300px;
}

.pro {
  text-decoration: underline;
}

.top-container {
  padding-top: 100px;
  position: relative;
}

.function {
  margin-top: 25px;
}

/* Heading */

.raimon {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);

}

.middle-container {
  margin: 100px 150px;
  width: 75%;
}

/* Skills */

.skill-row {
  width: 65%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.skill-row-2 {
  width: 65%;
  margin: 100px auto 100px auto;
  text-align: right;
}

.Modelling {
  border-radius: 50%;
  float: left;
  margin-top: 100px;
  margin-right: 30px;
  width: 150px;
  height: 150px;
  object-fit: cover;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.Coding {
  border-radius: 50%;
  float: right;
  margin-left: 30px;
  margin-top: 90px;
  width: 150px;
  height: 150px;
  object-fit: cover;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.Blogging {
  border-radius: 50%;
  float: left;
  margin-top: 90px;
  margin-right: 30px;
  width: 150px;
  height: 150px;
  object-fit: cover;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.Cults {
  background: #99cff0;
  background-image: -webkit-linear-gradient(top, #99cff0, #398AB9);
  background-image: -moz-linear-gradient(top, #99cff0, #398AB9);
  background-image: -ms-linear-gradient(top, #99cff0, #398AB9);
  background-image: -o-linear-gradient(top, #99cff0, #398AB9);
  background-image: linear-gradient(to bottom, #99cff0, #398AB9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Noto Sans', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-left: 20px;
}

.Cults:hover, .Cults:focus {
  background: #3cfc73;
  background-image: -webkit-linear-gradient(top, #97DBAE, #aaebab);
  background-image: -moz-linear-gradient(top, #97DBAE, #aaebab);
  background-image: -ms-linear-gradient(top, #97DBAE, #aaebab);
  background-image: -o-linear-gradient(top, #97DBAE, #aaebab);
  background-image: linear-gradient(to bottom, #97DBAE, #aaebab);
  text-decoration: none;
}

.Fiverr {
  background: #99cff0;
  background-image: -webkit-linear-gradient(top, #99cff0, #398AB9);
  background-image: -moz-linear-gradient(top, #99cff0, #398AB9);
  background-image: -ms-linear-gradient(top, #99cff0, #398AB9);
  background-image: -o-linear-gradient(top, #99cff0, #398AB9);
  background-image: linear-gradient(to bottom, #99cff0, #398AB9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Noto Sans', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-left: 20px;
}

.Fiverr:hover, .Fiverr:focus {
  background: #3cfc73;
  background-image: -webkit-linear-gradient(top, #97DBAE, #aaebab);
  background-image: -moz-linear-gradient(top, #97DBAE, #aaebab);
  background-image: -ms-linear-gradient(top, #97DBAE, #aaebab);
  background-image: -o-linear-gradient(top, #97DBAE, #aaebab);
  background-image: linear-gradient(to bottom, #97DBAE, #aaebab);
  text-decoration: none;
}

.Medium {
  background: #99cff0;
  background-image: -webkit-linear-gradient(top, #99cff0, #398AB9);
  background-image: -moz-linear-gradient(top, #99cff0, #398AB9);
  background-image: -ms-linear-gradient(top, #99cff0, #398AB9);
  background-image: -o-linear-gradient(top, #99cff0, #398AB9);
  background-image: linear-gradient(to bottom, #99cff0, #398AB9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Noto Sans', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-left: 20px;
}

.Medium:hover, .Medium:focus {
  background: #3cfc73;
  background-image: -webkit-linear-gradient(top, #97DBAE, #aaebab);
  background-image: -moz-linear-gradient(top, #97DBAE, #aaebab);
  background-image: -ms-linear-gradient(top, #97DBAE, #aaebab);
  background-image: -o-linear-gradient(top, #97DBAE, #aaebab);
  background-image: linear-gradient(to bottom, #97DBAE, #aaebab);
  text-decoration: none;
}

/* Contact */

.contact-me {
  width: 40%;
  margin: 100px auto 60px;
}

.btn {
  background: #99cff0;
  background-image: -webkit-linear-gradient(top, #99cff0, #398AB9);
  background-image: -moz-linear-gradient(top, #99cff0, #398AB9);
  background-image: -ms-linear-gradient(top, #99cff0, #398AB9);
  background-image: -o-linear-gradient(top, #99cff0, #398AB9);
  background-image: linear-gradient(to bottom, #99cff0, #398AB9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Noto Sans', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-left: 20px;
}

.btn:hover, .btn:focus {
   background: #3cfc73;
   background-image: -webkit-linear-gradient(top, #97DBAE, #aaebab);
   background-image: -moz-linear-gradient(top, #97DBAE, #aaebab);
   background-image: -ms-linear-gradient(top, #97DBAE, #aaebab);
   background-image: -o-linear-gradient(top, #97DBAE, #aaebab);
   background-image: linear-gradient(to bottom, #97DBAE, #aaebab);
   text-decoration: none;
}

/* Footer */

.bottom-container {
  background: linear-gradient(to bottom right, #EEEEEE, #1C658C);
  padding: 50px 20px;
}

.footer-link {
  color: #1C658C;
  margin: 10px 20px;
  text-decoration: none;
}
.footer-link:hover, .footer-link:focus {
  color: #aaebab;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

::selection {
  background-color: #aaebab;
}

#myBtn {
  background: #99cff0;
  background-image: -webkit-linear-gradient(top, #99cff0, #398AB9);
  background-image: -moz-linear-gradient(top, #99cff0, #398AB9);
  background-image: -ms-linear-gradient(top, #99cff0, #398AB9);
  background-image: -o-linear-gradient(top, #99cff0, #398AB9);
  background-image: linear-gradient(to bottom, #99cff0, #398AB9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Noto Sans', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-left: 20px;
  display: flex;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
}

#myBtn:hover, #myBtn:focus {
  background: #3cfc73;
  background-image: -webkit-linear-gradient(top, #97DBAE, #aaebab);
  background-image: -moz-linear-gradient(top, #97DBAE, #aaebab);
  background-image: -ms-linear-gradient(top, #97DBAE, #aaebab);
  background-image: -o-linear-gradient(top, #97DBAE, #aaebab);
  background-image: linear-gradient(to bottom, #97DBAE, #aaebab);
  text-decoration: none;
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.5rem;
  }
  h3 {
    font-size: 3.5rem;
  }
  p {
    font-size: 4rem;
  }
  .top-cloud {
    position: static;
  }
  .bottom-cloud {
    position: static;
  }

  .mountain {
    margin: auto;
    width: 100%;
  }
}
