body {
  background-color: #C0D8C0;
  color: #40514E;
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #35858B;
  font-family: 'Sacramento', cursive;
  font-size: 4.375rem;
  margin: 50px auto 0 auto;
  text-align: center;
}

h2 {
  color: #35858B;
  font-family: 'Lora', serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #086E7D;
  font-family: 'Noto Sans', sans-serif;
}

p {
  font-family: 'Noto Sans', sans-serif;
  line-height: 2;
}

hr {
  border: dotted 6px;
  border-color: #D3DEDC;
  border-style: none none dotted;
  width: 10%;
  margin: 50px auto 50px auto;
}

.top-container {
  padding-top: 100px;
  position: relative;
}

.function {
  margin-top: 25px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.middle-container {
  margin: 100px 0;
}
.mountain {
  width: 100%;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  top: 300px;
}

.pro {
  text-decoration: underline;
}

.Modelling {
  border-radius: 50%;
  float: left;
  margin: 0 auto 100px auto;
  margin-right: 30px;
  width: 150px;
  height: 150px;
}

.Coding {
  border-radius: 50%;
  float: right;
  margin-left: 30px;
  width: 150px;
  height: 150px;
}

.raimon {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.bottom-container {
  background-color: #086E7D;
  padding: 50px 20px;
}

.footer-link {
  color: #C0D8C0;
  font-family: 'Noto Sans', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
.footer-link:hover {
  color: #3cfcec;
}

.Cults {
  color: #086E7D;
  font-family: 'Noto Sans', sans-serif;
  text-decoration: none;
}
.Cults:hover {
  color: #3cfcec;
}

.Fiverr {
  color: #086E7D;
  font-family: 'Noto Sans', sans-serif;
  text-decoration: none;
}
.Fiverr:hover {
  color: #3cfcec;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.contact-me {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #34c0d9;
  background-image: -webkit-linear-gradient(top, #34c0d9, #17818f);
  background-image: -moz-linear-gradient(top, #34c0d9, #17818f);
  background-image: -ms-linear-gradient(top, #34c0d9, #17818f);
  background-image: -o-linear-gradient(top, #34c0d9, #17818f);
  background-image: linear-gradient(to bottom, #34c0d9, #17818f);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Noto Sans', sans-serif;
  color: #104145;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cfcec;
  background-image: -webkit-linear-gradient(top, #3cfcec, #34d9c3);
  background-image: -moz-linear-gradient(top, #3cfcec, #34d9c3);
  background-image: -ms-linear-gradient(top, #3cfcec, #34d9c3);
  background-image: -o-linear-gradient(top, #3cfcec, #34d9c3);
  background-image: linear-gradient(to bottom, #3cfcec, #34d9c3);
  text-decoration: none;
}

@media (max-width: 900px){
  h1 {
    font-size: 5.375rem;
  }
  h2 {
    font-size: 3.5rem;
  }
  h3 {
    font-size: 3rem;
  }
  p {
    font-size: 2.5rem;
  }
  .top-cloud {
    position: static;
  }
  .bottom-cloud {
    position: static;
  }
  .Modelling {
    float: none;
    margin: auto;
  }
  .Coding {
    float: none;
  }
}

/* Navigation Bar */

.nav-item {
  padding: 0 18px;
  text-align: right;
  margin: 5% 5% 5%
}

.nav-link {
  color: #35858B;
  font-size: 1.2rem;
  font-family: 'Noto Sans', sans-serif;
  text-decoration: none;
  margin: 10px 10px;
}

.nav-link:hover {
  color: #3cfcec;
}
